<h1>Hello, roshambo master.</h1>
<h3>So you think you can beat the computer, eh?</h3>

<form action="/results">
  <div class="form-group">

  <label for="user_input">Choose your weapon, noble warrior. I present to you: rock, paper, and scissors.</label>
  <input id="user_input" name="user_input" class="form-control" type="text">

  </div>

  <button type="submit" class="btn-danger">DUEL!!!</button>
</form>
